<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
<parameter name="pageTitle" value="Your Store"></parameter>
<parameter name="firstName" value="Bhuvana"></parameter>
<parameter name="lastName" value="Ramasamy"></parameter>
<parameter name="email" value="aakk@gmail.com"></parameter>
<parameter name="telephoneNum" value="123456789"></parameter>
<parameter name="password" value="Test"></parameter>
<parameter name="newPassword" value="Atmosol"></parameter>
    <classes>
      <class name="com.qa.demo.Test.NinjaTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
